process {
    withName:FASTP {
        container = 'bromberglab/fastp:latest'
    }
    withName:FASTQC {
        container = 'staphb/fastqc:latest'
    }
    withName:HLALA {
        container = 'zlskidmore/hla-la:latest'
    }
    withName:spechla {
        container = 'sfurlan/spec-hla:latest'
    }
}
docker {
    enabled = true
}