process {
    withName:FASTP {
        container = 'docker://bromberglab/fastp:latest'
    }
    withName:FASTQC {
        container = 'docker://staphb/fastqc:latest'
    }
    withName:MINIMAP2 {
        container = 'niemasd/minimap2_samtools:latest'
    }
    withName:KRAKEN2 {
        container = 'staphb/kraken2:latest'
    }
    withName:BRACKEN {
        container = 'staphb/bracken:latest'
    }
    withName:KRAKEN2KRONA {
        container = 'staphb/krakentools:latest'
    }
    withName:KRONA {
        container = 'nanozoo/krona:latest'
    }
}

docker {
    enabled = false
}

singularity {
    enabled = true
    autoMounts = true
}
conda.enabled = true